/* ==========================================
* SHIFT WIDGET IFRAME STYLES */

#shiftIframeContainer {
  position: relative;
  width: 100%;
  height: 476px;
  margin-top: 11px;
  display: inline-block;
}

#shift-iframe {
  border-top:     $navbar-border;
}
