.col-form-label {
  padding: $input-label-padding-y $input-label-padding-x !important;
  font-size: $input-label-size !important;
  color: $input-label-color;
  text-transform: $input-label-text-transform;
  font-weight: $input-label-font-weight;
}
