/* ssn show/hide button alignment*/
.embedded-button {
  float: right;
  margin-right: .6em;
  margin-top: -3rem;
  font-size: 1.4rem;
  fa-icon {
    color: $ssn-eye-icon-color;
  }
}

ul.listCheckmarks {
  text-align: left;
  margin-top: $spacer;
  font-size: $checklist-font-size;
  li {
    list-style: none;
    &:before {
      content: '\2713';
      margin-right: 5px;
      color: $checkmark-list-color;
    }
  }
}
